*.nib
.repl_history
.env
.env_dinheirama
.env_organizze
.dat.*
build
app/pixate_code.rb
resources/*.momd
vendor/Pods
vendor/Podfile.lock
.DS_Store
nbproject
.redcar
#*#
*~
*.sw[po]
.eprj
.sass-cache
.idea
.dat*.*
*.swp
*.orig
*.xcworkspace
*.lock
LaunchScreen.storyboardc
